doctype html
html(lang="ja")
	head
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="description" content="Your Personalized Typing Tutor")
		meta(name="author" content="omasakun")
		title Typing Tutor

		//- TODO: inline loading-view.css
		link(rel="stylesheet" href="./loading-view.css")
		link(rel="preload" href="index.css" as="style")
		link(rel="stylesheet" media="print" onload="this.onload=null;this.media='all';window.is_style_loaded=!0;window.on_style_loaded&&window.on_style_loaded()" href="index.css")
		link(rel="stylesheet" media="print" onload="this.onload=null;this.media='all'" href="https://fonts.googleapis.com/css?family=Lato:300,400,700|Noto+Sans+JP:300,400,700|Fira+Code:400|Inconsolata:400&display=swap&subset=japanese")
		noscript
			link(rel="stylesheet" href="index.css")
			link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700|Noto+Sans+JP:300,400,700|Fira+Code:400|Inconsolata:400&display=swap&subset=japanese")
		script(src="index.js" defer)
	body
		#loading.none.hide
			.inner
				h1.head Typing Tutor
				p.desc タイピングを効率的に身につける
				p.load.hide#long-load
					| この画面がずっと表示されている場合、おそらく本アプリが起動できなくなるような重大なバグが存在しています。
					| <a href="https://github.com/omasakun/typing-tutor/issues" target="_blank" rel="noreferrer">バグレポートを送信</a>していただけると嬉しいです。
				.foot
					span Made by omasakun 
					a.repo(href="https://github.com/omasakun/typing-tutor" target="_blank" rel="noreferrer") GitHub
		#app
		#noscript.none
			:markdown-it
				**ブラウザーの設定によってJavaScriptが無効化されているようですが、このウェブアプリはJavaScriptが無効化された状態では動作しません。**
				- - - - -
		#about.none
			include:markdown-it(plugins=['markdown-it-attrs'] html=true) _about.md
		noscript
			style #about.none,#noscript.none{display: block;}
		script.
			window.on_app_loaded=function(){var a=!1,b=setTimeout(function(){a=!0;document.getElementById("loading").classList.remove("none","hide")},100),c=setTimeout(function(){document.getElementById("long-load").classList.remove("hide")},5E3);return function(){a?(document.getElementById("loading").classList.add("hide"),setTimeout(function(){return document.getElementById("loading").classList.add("none")},150)):document.getElementById("loading").classList.add("none");clearTimeout(b);clearTimeout(c)}}();